*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

body{
     background-color:#fff;
}

.shangtiao{
    background-color: #e34551;
    height: 75px;
}

.shangtiao .logo{
    width: 385px;
    height: 75px;
    float:left;
}

.shangtiao ul{
    float:left;
}

.sanjiao {
    margin: 0px auto;
    width: 1px;
    height: 1px;
    border-width: 5px;
    border-style: solid;
    border-color:  #fff transparent transparent ;
    float:left;
    position: relative;
    top: 35px;
    left:606px;
    /*margin-top: -5px;*/
}

.shangtiao li{
    float: left;
    font-size: 22px;
    font-family: 微软雅黑;
    color:#fff;
    line-height:75px;
    width: 120px;
    text-align: center;
}
.shangtiao li.active{
    background-color: #bc353f;
}

.wp {
    position: relative;
    margin: 100px;
}
.wp .tk{
    padding: 10px 16px;
    background-color: #d9534f;
    display: inline-block;
    color: #fff;
    border-radius:5px;
    float: left;

}
.wp .pop-hover{
    border: 1px solid #ccc;
    height: 70px;
    width: 220px;
    float: left;
    position: relative;
    top: -20px;
    left: 20px;
    border-radius: 5px;
}
.wp .pop-hover .arrow2,.wp .pop-hover .arrow3 {
    width: 0;
    height: 0;
    border-width: 10px 10px 10px 0 ;
    border-style: solid;
    border-color: transparent #ccc transparent transparent;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
}
.wp .pop-hover .arrow3{
    border-color: transparent #fff transparent transparent;
    left: -9px;

}