/* .baidu {
  list-style:none; */
  /*background-color: red;
  height: 50px;
  width: 5

00px;
  position: absolute;
  top:20px;

  right:15px;


}
 .baidu li {
  float: left;
  font-size: 20px;
  margin-left: 20px;
  padding: 15px;



}
.baidu li a{
 text-decoration: none;

}*/
/*.home {
  background-image: url(../img/l.gif);
  height: 44px;
  width: 46px;
  background-position: -45px 0px ;
}
.sogou-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.sogou-menu i {
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image:url(../img/p.png);
  position: relative;
  top: 2px;
  right: 3px;
}
.hf{
  background-position: -68px 0px;
}
.sz{
  background-position: -127px 0px;
}
.dl{
  background-position: -199px 0px;
}

.masker {
  background-color: #000;
  width:100%;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.4;
}
.dialog{
  width: 300px;
  height: 200px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:-100px;
  margin-left:-150px;
}
i.close {
  background-image:url(../img/p.png);
  display: block;
  height: 17px;
  width: 17px;
  background-position:-23px -103px;

  position: absolute;
  top: 5px;
  right: 5px;

  cursor:pointer;
}

/*.sogou-menu {
  position: absolute;
  top:0;
  right:0; 
}*/